// Colour Palette
$background-color: #282C34;
$gradient-1: #285467;
$gradient-2: #00818A;
$gradient-3: #2FAF91;
$gradient-4: #8CD881;
$gradient-5: #F9F871;

.app {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.35rem;
}

.play {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border-style: solid;
  border-color: $gradient-3;
  border-radius: 2.5%;
  text-align: center;
}

.finances {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  border-radius: 2.5%;
  border-style: solid;
  border-color: $gradient-3;
  border-radius: 2.5%;
  text-align: center
}

.researchTeam {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  text-align: center
}

.clicker {
  margin: 0.5rem;
  
  text-align: center;
  background-color: $gradient-2;
  color: white;
  padding: 1rem;
  border-radius: 5%;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.clicker-disabled {
  margin: 0.5rem;
  text-align: center;
  background-color: $gradient-2;
  color: white;
  padding: 2rem;
  border-radius: 5%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  opacity: 50%;
}

.saleButtons {
  margin: 1rem;
  display: flex;
  
}

.clicker:hover {
  background-color: $gradient-3;
}